body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  height: 100%;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.conteudoLocalizacao {
  max-width: 600px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.botao {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}



#listaDados {
  list-style: none;
  padding: 0;
}

#listaDados li {
  margin-bottom: 5px;
}